Flask==0.12.4
google-api-python-client==1.6.4
google-auth==1.2.1
google-auth-httplib2==0.0.3
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
pymongo==3.5.1
python-digits==2.0
redis==2.10.6
Werkzeug==0.12.1
coverage==4.5.2